
body {
        background-color:antiquewhite ;
        font-family: sans-serif;
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
    
    }
.sign-up-form
    {
        width: 400px;
        box-shadow:#999;
        background-color: bisque;
        padding: 25px;
        margin: 8% auto 0;
        text-align: center;
        color:cornflowerblue;
        margin-bottom: 40px;
    } 
.input-box
    {
      border-radius: 20px;
      padding: 10px;
      margin: 10px 0;
      width: 80%;
      border: 1px solid #999;
      outline: none;
    } 
button
    {
      color:#fff;
      width: 70%;
      padding: 7px;
      border-radius:20px;
      font-size: 20px;
      margin:10px 0;
      outline: none;
      cursor: pointer;
      background-color:mediumturquoise;
    }
img
    {
      width: 70px;
      margin-top: -50px;
    }
a
    {
       text-decoration: none;
    }
hr
    {
        margin-top :20px;
        width: 80%;
    }
.or 
    {
        background: #fff;
        width: 30px;
        margin: -19px auto 10px;
    }
