<!DOCTYPE html>
<html>

{% extends 'master.html' %}

{% block title %}
 Premier league - List of all clubs 
{% endblock %} 

<body>
{% block content %}
 <p><a href = '/'>HOME</a></p>

 <h1>Football Clubs</h1>

 <ul>
    {% for x in myclubs %}
      <li><a href = 'details/{{x.id}}'>{{x.club_name}}</a></li>
    {% endfor %}

{% endblock %}    
</ul>
</body>
</html>      