<!DOCTYPE html>
<html>

{% extends 'master.html' %}  
{% block title %}
 Details about {{ myclub.club_name}} 
{% endblock %}

<body>
   {% block content %} 
    <h1>{{ myclub.club_name }}</h1>
    <p>Position: {{ myclub.club_position }}</p>
    <p>Champions league trophies: {{ myclub.champ_trophies }}</p>

    <p>Back to <a href ='/soccer'>Clubs</a></p>
   {% endblock %} 

</body>
</html>    