<!DOCTYPE html>
<html>
{% extends  'master.html' %}

{% block title %}
 Football
{% endblock %} 

<body>
 {% block content %}  

   <h1>Premier League</h1>
   <h2>The world's best league</h2>
   <h2>We bring to you all your soccer club details</h2>
   <h2>Stay tuned</h2>
   <p> Check out all our <a href = '/soccer'>Clubs</a></p>
   <p><a href = '/testing'>Back</a></p>
   
 {% endblock %}  