<!DOCTYPE html>
<html>
    {% load static %}
<head>
<style>
h1,h2{
    text-align: centre;
    color:black;
    
} 
*{
    background:greenyellow;
    background-image:image(football pic);
}   
</style>    
<title>{% block title %}{% endblock %}</title>
</head>
<body>

        {% block content %}
        {% endblock %}
</body>
</html>